# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# PgAdmin Configuration
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# Keycloak Configuration
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_PORT=
KC_HOSTNAME=
KC_HOSTNAME_PORT=
KC_LOG_LEVEL=

# Kafka Configuration
KAFKA_INTERNAL_PORT=
KAFKA_CONTROLLER_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_CLUSTER_NAME=

# Kafka UI Configuration
KAFKA_UI_PORT=

# Zipkin Configuration
ZIPKIN_PORT=

# Redis Configuration
REDIS_PORT=